langchain==0.1.9
langchain-core==0.1.28
langchain-text-splitters
langchain-openai==0.0.7
langchain-google-genai==0.0.9
openai==1.12.0
streamlit==1.31.1
chromadb==0.4.23
langchain-community==0.0.24
numpy==1.26.4
PyMuPDF==1.23.26
pandas==2.2.1
pillow==10.2.0
pyarrow==15.0.0
pypdf==4.0.2
PyPDF2==3.0.1
python-dotenv==1.0.1
requests==2.31.0
scikit-learn==1.4.1.post1
scipy==1.12.0
streamlit-authenticator==0.3.1
streamlit-modal==0.1.2
tiktoken==0.6.0
typing_extensions==4.10.0
faiss-cpu
docx2txt==0.8
extra-streamlit-components==0.1.70
google-ai-generativelanguage==0.4.0
google-api-core==2.17.1
google-auth==2.28.1
google-generativeai==0.3.2
googleapis-common-protos==1.62.0
PyYAML
Langchain-experimental
